{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}
	<p><b><big>We just have a couple questions about you before we wrap up.</big></b></p>

	How old are you?
    {% formfield player.age with label=""%}

    With which gender do you most closely identify?
    {% formfield player.gender with label=""%}

    Do you have any feedback about the experiment that you would like to share with us?<br>
    (If not, just type NA and click "Next")<br><br>
    {% formfield player.comments with label=""%}

    {% next_button %}

{% endblock %}
