{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <div class="instructions well well-lg">

    <h4 class="panel-sub-heading">
        What's Next: Predicting Coin Flips
    </h4>

    <p>
        In this task you will watch our fair coin simulator flip a fair coin eight times.  At the end
        of every eighth flip, you will be asked to predict what side the coin will land on next.  After
        you make your prediction about the ninth flip, the simulator will restart and flip the coin another
        8 times.  This process will repeat 13 times, so you will watch the simulator produce 13 sequences of 
        8 flips, and you will make a prediction after watching each of these 13 sequences.
    </p>

</div>


    {% next_button %}

{% endblock %}