{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <div class="instructions well well-lg">

    <h4 class="panel-sub-heading">
        What's Next: Predicting Analyst Performance
    </h4>

    <p>
        Stock analysts look for trends in the stock market, and using that information they invest their clients'
        money wisely.  Most stock analysts manage a "book" of stocks, which is a collection of investments they've 
        made for their clients.  Each quarter, analysts will evaluate trends in the market, and decide whether to sell 
        some of the stocks in their book, purchase more of those stocks, or purchase new stocks.  The result
        of these decisions determines whether the bottom line value of their book increases or decreases in the
        subsequent quarter.  If an analyst has a successful quarter and the value of his or her "book" increases, 
        he or she gets a bonus; but if the "book" drops in value, there is no bonus and sometimes a penalty fine.
    </p>
    <p>
        In this task, you will see the outcomes of investment decisions made by several stock analysts.  We will 
        reveal to you, one at a time, the change in the value of each analyst's book over the course of eight
        quarters (2 years).  If an analyst made good decisions in the prior quarter, when you will see that the 
        value o fthe analyst's book goes up, if the analyst made poor decisions, you will see that the value of 
        the analyst's book goes down.
    </p>
    <p>
        After watching what happens to each analyst's book over the course of eight quarters, your job is to 
        predict what will happen to the analyst's book in the ninth quarter.  In other words, your job is to 
        predict whether the analyst will be a success or a failure in the next, ninth quarter.  After each
        prediction, we will move on and show you the results for a new stock analyst.  This process will repeat
        13 times.  So, you'll see 13 different stock analysts' performance histories in total, and you will make
        a prediction for the outcome of each analyst's ninth quarter.
    </p>

</div>


    {% next_button %}

{% endblock %}