{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
<style>
    .myclass::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px !important;
        width: 20px !important;
        border-radius: 3px !important;
        background: #ffffff !important;
        cursor: pointer !important !important;
        -webkit-appearance: none !important;
        margin-top: -14px !important;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #ffffff;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    input[type=range]::-webkit-slider-thumb {
        border: 0px;
        height: 0px;
        width: 0px;
        border-radius: 0px;
        -webkit-appearance: none;
    }

</style>
<script>

    $(document).ready(function () {
        $('input[type=range]').on('input change', function () {
            $('input[type=range]').addClass('myclass');
        });

    });
</script>

{% endblock %}

{% block title %}
    <h4>What's Next: Round {{ subsession.round_number }}/{{ Constants.num_rounds }}</h4>
{% endblock %}

{% block content %}

    <br><p>
        <strong>Here is a new analyst.</strong><br>
        You are now watching the changes in the value of this analyst's book over the course of
        8 quarters.  Wait until you have seen the results of all eight quarters, then use the sliding scale 
        to make your prediction about what will happen to the value of this analyst's book next quarter. 
    </p>

    <div>
        <img style="height:400px" img src="{% static image_path %}"/>
    </div>


    <p><big>What is the probability that next quarter the value of this analyst's book will go <strong>UP?</strong></big>
    <br>(Click on the slider bar to make the selector button appear.)</p>
    <div class="slider-start", style="float:left; padding:5px"><strong>0%  </strong></div>
        <div class="slider", style="float:left;width:400px;padding: 5px">
            {% formfield player.prediction_slider with label="" %}
        </div>
        <div class="slider-end", style="padding:5px"><strong>100%</strong></div>

    <br><br>
    {% next_button %}

{% endblock %}
