{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h3>The University of Chicago Center for Decision Research</h3>
  <div class="instructions well well-lg">
    <p>
      <strong>Study Title:</strong> Responsibility Judgments<br> 
      <strong>Principal Investigator:</strong> Reid Hastie<br> 
      <strong>Co-Investigator:</strong> Tobias Gerstenberg<br> 
      <strong>Primary Contact:</strong> Kariyushi Rao<br> 
      <strong>IRB Study Number:</strong> 17-0940<br> 
    </p>
    <p>DESCRIPTION: We are researchers at the University of Chicago doing a research study about the way people
    make judgments about responsibility.  Participation should take about 20 minutes.</p>
    <p>RISKS and BENEFITS: The risks to your participation in this online study are those associated with basic
    computer tasks, including boredom, fatigue, mild stress, or breach of confidentiality. The only benefit to you is the
    learning experience from participating in a research study. The benefit to society is the contribution to scientific knowledge.</p>  
    <p>COMPENSATION: You will be paid $3.00 upon approval of your completed questionnaire.</p>
    <p><strong>PLEASE NOTE: This study contains a number of checks to make sure that participants are finishing the tasks honestly and completely. As long as you read the instructions and complete the tasks, your HIT will be approved. If you fail these checks, your HIT will be rejected.</strong></p>
    <p>CONFIDENTIALITY: Your Mechanical Turk Worker ID will be used to distribute payment to you but will not be 
    stored with the research data we collect from you. Please be aware that your MTurk Worker ID can potentially 
    be linked to information about you on your Amazon public profile page, depending on the settings you have for 
    your Amazon profile. We will not be accessing any personally identifying information about you that you may have put on your Amazon public profile page.<br><br>
    Any reports and presentations about the findings from this study will not include your name or any other
    information that could identify you. We may share the data we collect in this study with other researchers
    doing future studies – if we share your data, we will not include information that could identify you.<p>
    <p>SUBJECT’S RIGHTS: Your participation is voluntary. You may stop participating at any time by closing the
    browser window or the program to withdraw from the study. Partial data will not be analyzed.</p>
    <p>If you have questions about this research, please contact us at <a href="kariyushi@uchicago.edu">
    kariyushi@uchicago.edu</a>.</p>
    <p>For questions about your rights as a research participant, you may contact:<br>
    The Social and Behavioral Sciences Institutional Review Board, University of Chicago<br>
    Phone: (773)834-7835; E-mail: sbs-irb@uchicago.edu</p>
  
    <p>By clicking the "I Agree" button below, you acknowledge that:</p>
    <ul>
      <li>You must be at least 18 years old to participate.</li>
      <li>Your participation in this research is voluntary.</li>
      <li>You may decline to answer any or all of the following questions by closing this window in your browser.</li>
      <li>You may decline further participation, at any time, without adverse consequences.</li>
      <li>Your anonymity is assured; the researchers who have requested your participation will not receive any personal information about you.</li>
    </ul> 
    <p>Do you agree with the terms of the experiment as explained above?</p> 
  </div>      

  <div style="text-align:center;">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">I Agree</button>
  </div>

{% endblock %}