{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <div class="instructions well well-lg">

    <h4 class="panel-sub-heading">Instructions 1/3</h4>
        <br>
        <p>In this experiment, your task is to compare the performance of athletes competing in a gymnastics tournament. 
        Gymnasts will compete as individuals in this tournament, and each gymnast has a specialty event that s/he performs.
        </p>
        <p>Here is how the gymnastics competition works:</p>
        <ul>
            <li>Each gymnast performs a rehearsed set.</li>
            <li>A panel of judges assigns each gymnast a score between 0 and 10 for that gymnast's individual performance. </li>
            <li>To advance to the next stage of the tournament, gymnasts must score <b><u>at least 5 points</u></b>.</li>
        </ul>
        <p>Gymnasts vary in their performance history. Some gymnasts most often receive high scores, others may receive a wide 
        range of scores, and others may consistently receive low scores.</p>

        <p>A number of factors can affect a gymnast's outcome in a particular competition, some that are within the gymnast's control, and some that are not. For example, the quality of gymnasts' performances may be affected by how well they trained, how much they rehearsed their set, or even how well they slept the night before. Gymnasts' outcomes may also be affected by the quality of the facilities in which the competition takes place, the quality of the competitors against whom they are compared, and even slight deviations in the standards held by different panels of judges.</p>
        
    </div>

</div>

    {% next_button %}

{% endblock %}