{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <div class="instructions well well-lg">

    <h4 class="panel-sub-heading">Instructions 2/3</h4>
        <br>
        <p>Some of the gymnasts you will see have <b>only competed in about 20 tournaments</b> over the course of their careers.  
        You can think of these gymnasts as <b>novices</b>.  Other gymnasts have <b>competed in about 100 tournaments</b>.  
        You can think of these gymnasts as <b>experts</b>.
        </p>
        
        <p>Below are examples of illustrations we will show you for each gymnast.  These illustrations are called <i>histograms</i>.
        Each dot in the histogram represents the score a gymnast received for one of his or her past performances.  Dots are stacked 
        up on top of the score they represent.  For example, the two dots that appear above the number 5 in Smith's histogram tell us 
        that Smith received a score of 5 two times out of the past 20 performances.
       
        <div style="float:none; width: 700px; margin: 0 auto; height: 300px;">
            <!-- LEFT BOX -->
            <div style="width:300px;height:230px; float:left; padding:10px; margin:16px">
            <p style="text-align:center;"><strong>Smith's past 20 performances</strong></p>
            <img style="height:200px; align: center" img src="{% static dots1 %}"/>
            </div>
            <!-- RIGHT BOX -->
            <div style="width:300px;height:230px; float:left; padding:10px; margin:16px">
            <p style="text-align:center;"><strong>Jarrod's past 100 performances</strong></p>
            <img style="height:200px; align: center" img src="{% static dots2 %}"/>
            </div>
        </div>

        <p>To create the above histograms for Smith and Jarrod, we used all 20 of Smith's past performances, and all 100 of Jarrod's 
        past performances.  You can check this by counting the number of dots in Smith's and in Jarrod's histograms.  You'll notice
        that most of the dots in Smith's histogram are on the high end of the scale, which lets us know that Smith has usually scored
        high in the past.  On the other hand, Jarrod's dots mostly appear on the low end of the scale, which tells us that Jarrod
        usually scored low in the past.</p>
    </div>

</div>

    <div style="text-align:center;">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

{% endblock %}