{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <div class="instructions well well-lg">

    <h4 class="panel-sub-heading">Instructions 3/3</h4>
        <br>
        <p><b>Tournament results:</b>We are going to show you the scores gymnasts actually earned in today's tournament by marking
        them on each gymnast's heat map with a black dot.</p>

        <p>Here is an example of how we'd show you scores received by the two gymnasts from before, Smith and Jarrod.</p>

        <div style="float:none; width: 850px; margin: 0 auto; height: 175px;">
            <!-- LEFT BOX -->
            <div style="width:350px;height:130px; float:left; padding:10px; margin:16px">
            <p style="text-align:center;"><strong>Smith's score today: 9 points</strong></p>
            <img style="height:75px; align: center" img src="{% static curr1 %}"/>
            </div>
            <!-- RIGHT BOX -->
            <div style="width:350px;height:130px; float:left; padding:10px; margin:16px">
            <p style="text-align:center;"><strong>Jarrod's score today: 3 points</strong></p>
            <img style="height:75px; align: center" img src="{% static curr2 %}"/>
            </div>
        </div>

        We can see that Smith scored 9 points today, marked by a black dot on Smith's heat map just above the number 9.  Smith <u>gets to move on to 
        the next round</u> of today's competition, because a score of 9 <u>surpasses the 5 point threshold</u> for success.  We can also see that Jarrod 
        scored 3 points today, marked by a black dot just above the number 3.  Jarrod <u>will not get to move on</u> to the next round, because a score 
        of 3 <u>misses the threshold of 5 points</u>.
        <hr>

        <p><b>Your task:</b> We are going to show you the gymnasts' results two at a time.  Each pair of gymnasts you'll see are similar in some ways, 
        but different in others.  For example, you might see two gymnasts with the same performance history (both earned similar scores in past 
        competitions), but with different scores for today (one might earn 9 points like Smith, while the other earns 7 points, or even 3 points 
        like Jarrod).  We'd like you to think about how much responsibility (credit or blame) each gymnast in the pair deserves for his or her 
        individual performance.  You will be asked to indicate which gymnast in each pair deserves more credit or blame, or whether you think they 
        each deserve an equal amount.

        <p>Overall, you will see the past performance history, and today's competition outcomes, for 48 pairs of gymnasts. For each
        pair of gymnasts you will use a sliding scale to indicate whether the gymnasts each deserve the same amount, more, or less 
        credit or blame for their performances in the tournament.</p>
    

        <p>After you've seen all 48 pairs, we'll ask you a few very short follow up questions, and that will conclude the HIT.</p>

    </div>

</div>



    {% next_button %}

{% endblock %}