{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Enter your information
{% endblock %}

{% block content %}

    {% formfield player.name with label="Enter your name" %}

    {% formfield player.age with label="Enter your age" %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
