{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <div class="instructions well well-lg">

    <h4 class="panel-sub-heading">Instructions 2/3</h4>
        <br>
        <p>Below are examples of descriptions we will show you for each gymnast.  These descriptions are based on the gymnasts' past performances.  Some of the gymnasts you will see have <b>only competed in about 20 competitions</b> over the course of their careers.  You can think of these gymnasts as <b>novices</b>.  Other gymnasts have <b>competed in about 100 competitions</b>.  You can think of gymnasts as <b>experts</b>.
        </p>
       
        These descriptions tell you how many competitions the gymnast has competed in so far, what the gymnast's lowest and highest scores have been,
        what score the gymnast received most often, and what the gymnast's average score across all past competitions is.

        <div style="float:none; width: 700px; margin: 0 auto; height: 300px;">
            <!-- LEFT BOX -->
            <div style="width:300px;height:230px; float:left; padding:10px; margin:16px">
            <p style="text-align:left;">Smith has performed in <b>20 competitions</b> so far.  Smith's 
            scores in past competitions ranged <b>from 5 points to 10 points</b>.  Smith received scores
            of <b>7 and 8 most often</b>, and across all 20 past competitions, Smith's <b>average score 
            is about 7.5</b>.</p>
            </div>
            <!-- RIGHT BOX -->
            <div style="width:300px;height:230px; float:left; padding:10px; margin:16px">
            <p style="text-align:left;">Jarrod has performed in <b>100 competitions</b> so far.  Smith's 
            scores in past competitions ranged <b>from 0 points to 7 points</b>.  Smith received scores
            of <b>2 most often</b>, and across all 20 past competitions, Smith's <b>average score 
            is about 2.5</b>.</p>
            </div>
        </div>

        We can tell from the above descriptions of Smith and Jarrod that Smith usually received high scores in the past, and Jarrod usually received
        low scores in the past.
        
    </div>

</div>



    {% next_button %}

{% endblock %}