{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Coin Flipping Task: Round {{ subsession.round_number }}/{{ Constants.num_rounds }}
{% endblock %}

{% block content %}

	<p>
        <strong>Here is a fresh coin.</strong><br><br>
        You are now watching 8 flips of a fair coin.  Wait until
        you have seen the result of all eight flips, then make your prediction about what
        side the coin will land on next by selecting "Heads" if you think it will land on heads 
        next, and "Tails" if you think it will land on tails next.
    </p>

    <div>
        <img style="height:400px" img src="{% static image_path %}"/>
    </div>

    <p>What side will the coin land on next?</p>
    {% formfield player.flip_prediction_radial with label="" %}

    {% next_button %}

{% endblock %}
