{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <div class="instructions well well-lg">

    <h4 class="panel-sub-heading">Instructions 2/3</h4>
        <br>
        <p>Below are examples of two types of illustrations we will show you for each gymnast.  These illustrations are based on the gymnasts' past performances.  To create these illustrations, we either randomly sampled about 20 past performances, or we randomly sampled about 100 past performances, for each gymnast.
        </p>

        The first type of illustration you will see are histograms.  Each dot in the histogram represents the score the gymnast received in one
        of his or her past performances.  Dots are stacked up on top of the score they represent.  For example, the two dots that appear above the 
        number 5 in Smith's histogram tell us that Smith received a score of 5 two times out of the past 20 performances.
       
        <div style="float:none; width: 700px; margin: 0 auto; height: 300px;">
            <!-- LEFT BOX -->
            <div style="width:300px;height:230px; float:left; padding:10px; margin:16px">
            <p style="text-align:center;"><strong>Smith's past 20 performances</strong></p>
            <img style="height:200px; align: center" img src="{% static dots1 %}"/>
            </div>
            <!-- RIGHT BOX -->
            <div style="width:300px;height:230px; float:left; padding:10px; margin:16px">
            <p style="text-align:center;"><strong>Jarrod's past 100 performances</strong></p>
            <img style="height:200px; align: center" img src="{% static dots2 %}"/>
            </div>
        </div>

        <p>To create the illustrations above for Smith and Jarrod, we randomly sampled 20 of Smith's past performances, and 100 of Jarrod's past performances.  You can check this by counting the number of dots in Smith's and in Jarrod's histograms.  You'll notice that most of the dots in Smith's histogram are on the high end of the scale, which lets us know that Smith has usually scored high in the past.  On the other hand,
        Jarrod's dots mostly appear on the low end of the scale, which tells us that Jarrod usually scored low in the past.</p>

        <p>The second type of illustration you will see are heat maps.  We used the same random sample of either 20 or 100 past performances from
        each gymnast to create the heat maps.  Scores received more frequently are marked in a darker red color than those received less frequently.</p>

        <div style="float:none; width: 850px; margin: 0 auto; height: 175px;">
            <!-- LEFT BOX -->
            <div style="width:350px;height:130px; float:left; padding:10px; margin:16px">
            <p style="text-align:center;"><strong>Smith's past 20 performances</strong></p>
            <img style="height:75px; align: center" img src="{% static heat1 %}"/>
            </div>
            <!-- RIGHT BOX -->
            <div style="width:350px;height:130px; float:left; padding:10px; margin:16px">
            <p style="text-align:center;"><strong>Jarrod's past 100 performances</strong></p>
            <img style="height:75px; align: center" img src="{% static heat2 %}"/>
            </div>
        </div>

        <p>Here again you can see that Smith tended to receive high scores in the past, marked by darker red colors near the right-end of 
        the heat map.  You can also see that Jarrod tended to receive low scores in the past, marked by darker red colors near the left-end
        of the heat map.</p>

        <p>The heat maps provide the same information as the histograms, but some people find it helpful to look at this information both ways.
        Using the two illustrations of each gymnast's past performances, you will be asked to provide two responses: a prediction, and a 
        judgment of responsibility.</p>  
        
    </div>

</div>



    {% next_button %}

{% endblock %}