{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
<style>
    .myclass::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px !important;
        width: 20px !important;
        border-radius: 3px !important;
        background: #ffffff !important;
        cursor: pointer !important !important;
        -webkit-appearance: none !important;
        margin-top: -14px !important;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #ffffff;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    input[type=range]::-webkit-slider-thumb {
        border: 0px;
        height: 0px;
        width: 0px;
        border-radius: 0px;
        -webkit-appearance: none;
    }

</style>
<script>

    $(document).ready(function () {
        $('input[type=range]').on('input change', function () {
            $('input[type=range]').addClass('myclass');
        });

    });
</script>

{% endblock %}

{% block title %}
    Gymnast {{ subsession.round_number }}/{{ Constants.num_rounds }}: {{name}}
{% endblock %}

{% block content %}

	<p>
        Now, we'll show you the outcome of today's competition.  As a reminder, here are the results
        of the same <b>{{player.stim_sample}} previous competitions</b> we showed you before.  
    </p>

    <div style="float:none; width: 500px; margin: 0 auto; height: 350px;">
        <p style="text-align:center;"><strong><big>Sample of <b>{{ player.stim_sample }} of {{name}}'s past competitions</b></big></strong></p>
        <img style="height:300px" img src="{% static dots %}"/><br><br>
    </div><br>

    <p>
        And here we have marked the outcome of today's competition on the same heat map we showed
        you before.  
    </p>

    <div style="float:none; width: 550px; margin: 0 auto; height: 200px;">
        <p style="text-align:center;"><strong><big>{{ name }}'s score today: {{ score }} points [{{ outcome }}]</big></strong></p>
        <img style="height:100px" img src="{% static heat_map %}"/>
    </div>

    <p style="text-align:center;"><strong>How much <u>{{player.stim_attribute}}</u> should {{ name }} receive for this 
    <u>{{player.stim_affect}}</u> outcome?</strong><br>(Click on the slider bar to make the selector button appear.)</p>
            
    <div style="float:center; width: 525px; margin: 0 auto; padding: 5px">
        <p style="float:left; padding: 5px;"><strong>NONE</strong><p style="float:right; padding: 5px;"><strong>A LOT</strong></p>
        <p style="float:none; width: 600px;">{% formfield player.attribution with label="" %}</p>
    </div>

    <br><br>
    {% next_button %}

{% endblock %}
