{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Visual Perception Task
    </h3>

    <p>
        This task involves visual perception.  It is helpful to be able to see objects quickly in spite of 
        their being partially concealed by snow, rain, haze, darkness, or other visual obstructions. 
        In this test you will be asked to recognize hard-to-see objects.<br>
        Look at the picture below.  What object do you see?
    </p>

    <div>
        <img style="height:250px" img src="{% static "snowy_pictures/pictures/snowy_example1.png" %}"/>
    </div>

    <br>

    <p>
    	By looking carefully at the above example, you will see an anchor.  
    </p>

    <p>
		Some pictures in this test have objects in them, like the example above, and some do not. 
		If you believe a picture has an object in it, you should indicate what object you see by typing
		the name of that object below the picture, like this:
	</p>

	<div>
        <img style="height:250px" img src="{% static "snowy_pictures/pictures/snowy_example1.png" %}"/>
    </div>

    <br>

    <div style="width:100px; padding:10px; height:50px;border:3px solid #000; background: white">
		<p style="text-align:left;"><strong>anchor </strong></p>
	</div>

	<br>

	<p>
		If you believe a picture does not have an object in it, then you should type ‘none’ in the 
		space below the picture. 
		<br><br>
		Your score in this task will be the number of pictures that you name correctly. 
		Work as quickly as you can without sacrificing accuracy.
	</p>

</div>


    {% next_button %}

{% endblock %}