{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Visual Perception Task {{ subsession.round_number }}/{{ Constants.num_rounds }}
{% endblock %}

{% block content %}

	<p>
        If this picture contains an object, write one or two words to describe
        the object.  If the picture does not contain an object, write 'none'.
    </p>

    <div>
        <img style="height:300px" img src="{% static image_path %}"/>
    </div>

    {% formfield player.snowy_label with label="" %}

    {% next_button %}

{% endblock %}
