{% extends "otree/Page.html" %}
{% load otree_tags %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}
    <p>
        This HIT is an academic experiment on decision making.  
    </p>

    <p>
        You will complete three separate and unrelated exercises as part of this experiment. 
        It should only take about 25 minutes to complete all three exercises.  
    </p>  

    <p>
        After completing this HIT, you will receive a payment of $2.50.  You will also be
        eligible to receive a bonus payment of $2.00 based on your performance in one of the
        exercises.  You may complete this experiment only once.
    </p>

{% endblock %}
