{% extends "otree/Page.html" %}
{% load otree_tags %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}
    <p>
        This HIT is an academic experiment on decision making.  
    </p>

    <p>
        You may be required to interact with two other participants in real time.  If this
        is the case, other participants may be waiting until you have completed a given task,
        before they can proceed.  However, there are time limits on each task, so no one
        should be kept waiting for their partners longer than one or two minutes at a time.
        The total procedure should only take about 5 minutes total.
    </p>

    <p>
        <strong>Please, please, please</strong> only accept this HIT if you plan on completing
        it right away.  This is our first time trying real-time interaction among participants, so
        we appreciate your patience and understanding in the case of any mishaps.
        We've built in time limits and implemented an emergency contingency that should
        allow you to retrieve a code you can email me in order to receive payment, regardless
        of whether your assigned partners completed the task or not (kariyushi@uchicago.edu).
        Remember that if you are selected to work with partners, but abandon the task, your partners 
        may be left in the lurch with a frustrating experience. 
    </p>  

    <p>
        After completing this HIT, you will receive your reward plus a bonus payment
        that is based on how you play the experiment.  The bonus payment ranges from $0.00 to
        $0.30, depending on your performance on each of three tasks.
        You may complete this experiment only once.
    </p>

{% endblock %}
