{% extends "otree/Page.html" %}
{% load otree_tags %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}
    <p>
        This HIT is an academic experiment. You will make judgments about 
        athletes' performances in a tournament.  It will take less than
        15 minutes to complete (usually around 10 minutes).
    </p>

    <p>
        You will learn about the past performances of some athletes, and you will
        see how each athlete performs in today's tournament.  You will be asked
        to determine how much responsibility the athlete should take for his or her 
        performance today. At the end, you'll answer 5 very brief questions 
        about your judgments, and that will wrap up the HIT.   
    </p>  

    <p>
        After completing this HIT, you will receive a payment of $2.00.  If you
        encounter any issues while attempting the HIT, or have feedback for us, 
        please reach out to Kariyushi Rao (kariyushi@uchicago.edu).  We
        respond to every message within 24 hours.
    </p>

{% endblock %}
