{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Welcome to the Investment Game!
    </h3>

    <p>
        In this game, you will make a series of decisions like those that an online investor might make.  
        The game is based on actual investments in assets like gold, oil, and stock market shares (on the New York Stock Exchange).  
        The dollar values are taken from historical price trends in actual assets, so if you are good at this task, 
        you would probably make a good “trader” or investor.
        <br><br>
		In this task you will be investing fictional dollars in different types of assets over the course of 12 rounds.  Each round
		represents one historical month.  <strong>Your goal is to maximize your overall profits across 12 months of one historical year.  
		</strong>The three assets you will be offered are GOLD, OIL, and STOCKS.  To make things easy, you can think of the value of each 
		asset in terms of dollars, instead of shares.  In the case of GOLD think of investing in a fund that increases the dollar value of your
		investment if the value of one ounce of gold goes up, or reduces the dollar value of your investment if the value of one ounce of 
		gold goes down. The case of OIL can be thought of similarly.  You invest some dollar amount in a fund, and the dollar value of your
		investment goes up if the value of one barrel of oil goes up, and down if the value of one barrel of oil goes down.  In the 
		case of STOCKS, think of investing in an “index fund” that increases in value if the average value of major companies' shares on the 
		New Stock Exchange goes up, or decreases in value if the average value of major companies' shares on the stock market 
		goes down.  
		<br><br>
		You will have $12,000 total in fictional money to invest. <strong>You may invest up to $1,000 each month</strong> in GOLD, OIL, 
		or STOCKS. At the start of each month, you can choose to invest your $1,000 monthly budget in any of the 3 assets you would like.  
		For example if you thought GOLD was going to increase most in price, you could put $500 in GOLD, $300 in OIL, and $200 in STOCKS.  
		<br><br>
		Your investment in each asset will increase or decrease simply as a function of your total dollars invested.  In other words, 
		you do not need to keep track of share prices or worry about how many shares to purchase.  You can just track the total amount 
		of dollars you have invested.  
		<br><br>
		If you are good at this task, you can adjust your investments to take advantage of the fact that the 3 assets may not increase or
		decrease in value in the same way each month. Just like real stocks and other assets, there will be realistic time trends in the prices.  
		Some assets will show “momentum” effects and an increase is likely to be followed by an increase, or a decrease is likely to be 
		followed by a decrease; others show “contrarian” patterns, where an increase is likely to ‘reverse’ and be followed by a decrease, or 
		vice versa.  Smart investors are sensitive to those patterns and allocate funds according to the patterns they have seen in the price 
		data to maximize the value of their investments.   
		<br><br>
		At the end of the task, your total profits (or losses) will determine your rank among other participants. <strong>If the final value of 
		your investments puts you in the top 10% of all participants, we will pay you a bonus of $2.00 to reward you for your investing skill.
		</strong>
	</p>

</div>
