{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <h3>Choose your investments for Month {{ round_number }}</h3>
{% endblock %}

{% block content %}
    <div style="float:none; width: 900px; margin: 0 auto; height: 475px;">
    	<big><big>Choose how much you'd like to invest in each asset.  You may invest all or part of your monthly budget 
		of <strong>{{ Constants.monthly_budget }}</strong>.</big></big><br><br>
    	
    	<!-- LEFT ASSET BOX -->
		<div style="width:260px;height:230px;border:3px solid #000; float:left; padding:10px; margin:16px">
		<p style="text-align:center;"><big><strong>{{ Constants.asset_a_name }}</strong></big></p>
		<br><br><p style="text-align:left;"><big>Current investment value: <strong>{{ asset_a_holdings }}</strong></big></p>
		</div>

		<!-- CENTER ASSET BOX -->
		<div style="width:260px;height:230px;border:3px solid #000; float:left; padding:10px; margin:16px">
		<p style="text-align:center;"><big><strong>{{ Constants.asset_b_name }}</strong></big></p>
		<br><br><p style="text-align:left;"><big>Current investment value: <strong>{{ asset_b_holdings }}</strong></big></p>
		</div>

		<!-- RIGHT ASSET BOX -->
		<div style="width:260px;height:230px;border:3px solid #000; float:left; padding:10px; margin:16px">
		<p style="text-align:center;"><big><strong>{{ Constants.asset_c_name }}</strong></big></p>
		<br><br><p style="text-align:left;"><big>Current investment value: <strong>{{ asset_c_holdings }}</strong></big></p>
		</div>

		<!-- MONTHLY BUDGET BOX -->
		<div style="width:260px;height:100px;border:3px solid #000; float:left; padding:10px; margin:10px">
		<p style="text-align:left;"><big><strong>Available budget: </strong>{{ Constants.monthly_budget }}</big></p>
		</div>

		<!-- SPACER -->
		<div style="width:295px;height:100px; float:left; padding:10px; margin:10px"></div>

		<!-- PORTFOLIO VALUE BOX -->
		<div style="width:260px;height:100px;border:3px solid #000; float:left; padding:10px; margin:10px">
		<p style="text-align:left;"><big><strong>Value of portfolio: </strong>{{ inv_port_balance }}</big></p>
		</div>

	</div>
	<big>
    {% formfield player.asset_a_purchase with label="How much would you like to invest in GOLD?" %}
    {% formfield player.asset_b_purchase with label="How much would you like to invest in OIL?" %}
    {% formfield player.asset_c_purchase with label="How much would you like to invest in STOCKS?" %}
	</big>
    {% next_button %}

{% endblock %}
