{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <h3>Final Results</h3>
{% endblock %}

{% block content %}
	The final balance of your investment portfolio is <strong>{{ inv_port_balance }}</strong>.  You are 
	currently ranked in the <strong>bottom 30%</strong> of the {{ num_participants }} participants who have completed this
	investment game so far.  Once all participants have completed this investment game, we will determine your
	final rank.  <strong>If your final rank is in the top 10% of all participants, you will receive a $2.00 bonus.</strong>
	<br><br>
	Please click "Next" to complete this section by answering a couple follow up questions.
	<br><br>
    {% next_button %}

{% endblock %}
